<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaheem's MacbookAir</title>
    <style>
        body {
            background: #002b36;
        }
        .contents {
            font-family: monospace;
            font-size: 16px;
            position: absolute;
            top: 2em;
            right: 2em;
            bottom: 2em;
            left: 2em;
        }
        .contents a {
            color: #839496;
        }
    </style>
</head>
<body>
    <div class="contents">
        <a href="<%= data %>" target="_blank"><%= data %></a>
    </div>
</body>
</html>