<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shaheem's MacbookAir</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/modal.css">
  </head>
  <body>
    <div class="wrapper">

      <h1>Shaheem's MacbookAir</h1>
      <div class="img-area">
        <% data.forEach((el, index) => { %>
          <% if(el.type === 'image' ){ %>
            <div class="single-img">
              <img class="thumb-img" src=<%=el.path%>>
            </div>
          <% }else if(el.type === 'video'){ %>
            <div class="single-img">
              <video autoplay loop id="video-background" muted plays-inline class="card-image">
                <source src="<%=el.path%>" type="video/mp4">
              </video>
            </div>
          <% } %>  
        <% }); %>
      </div>
      
      <div class="modal-overlay">
        <div class="modal">
          <a class="close-modal">
            <svg viewBox="0 0 20 20">
              <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
            </svg>
          </a>
          <div class="modal-content">
            <img src="" id="modal-img">
          </div>
        </div>
      </div>

    </div>
    <script src='js/jquery.min.js'></script>
    <script src="js/script.js"></script>
  </body>
</html>